*,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

li {
    font-size: 1rem;
    padding: 0.5rem 0;
}

h1 {
    font-size: 3rem;
}

header {
    background-color: #B07CDD;
}

main {
    min-height: 85vh;
}

a {
    text-decoration: none;
}

.navigationBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4.3rem;
}

.navigationItem {
    display: inline-block;
    padding: 0.8rem;
}

.navigationItem a {
    color: #ffffff;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .navigationItem a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .navigationItem a {
        font-size: 0.9rem;
    }
}

.bioSection {
    display: grid;
}

.bioSection img {
    border-radius: 1rem;
    width: 200px;
}

.bioSection p {
    margin: 1.5rem 0;
}

@media screen and (min-width: 768px) {
    .bioSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 2rem;
        padding: 1.5rem 0;
        align-items: center;
    }

    .bioWrapper {
        grid-column: 3/8;
    }

    .bioSection img {
        grid-column: 2;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .bioSection {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 1rem;
        padding: 1.5rem;
    }

    .bioWrapper {
        grid-column: 1/4;
        margin-top: 1.5rem;
    }

    .bioSection img {
        grid-column: 1;
    }
}

.infoSection {
    display: grid;
}

@media screen and (min-width: 768px) {
    .infoSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 2rem;
    }

    .infoSection .songsSection {
        grid-column: 2/4;
    }

    .platformsSection {
        grid-column: 7;
    }
}

@media screen and (max-width: 767px) {
    .infoSection {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 1rem;
        padding: 0 1.5rem;
        grid-row-gap: 1.5rem;
    }

    .songsSection {
        grid-column: 1/3;
    }

    .platformsSection {
        grid-column: 1/3;
    }
}

.eventsSection {
    display: grid;
}

.infoSection .platformsSection img {
    height: 2rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

@media screen and (min-width: 768px) {
    .eventsSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 1rem;
        padding-top: 2rem;
    }

    .eventsSection ul {
        grid-column: 2/8;
    }
}

@media screen and (max-width: 767px) {
    .eventsSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 1rem;
        padding: 1.5rem;
    }

    .eventsSection ul {
        grid-column: 1/4;
    }
}

.eventsSection ul div {
    margin: 1.5rem 0;
}

footer {
    background-color: #8BBBE9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
}

footer img {
    height: 2rem;
    margin: 0.5rem;
}

.musicSection {
    display: grid;
}

@media screen and (min-width: 768px) {
    .musicSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 2rem;
        padding: 1.5rem 0;
        grid-row-gap: 1.5rem;
    }

    .musicSection iframe {
        grid-column: 2/8;
    }

    .musicSection h1 {
        grid-column: 2/8;
    }
}

@media screen and (max-width: 767px) {
    .musicSection {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 2rem;
        padding: 1.5rem;
        grid-row-gap: 1.5rem;
    }

    .musicSection iframe {
        grid-column: 1/4;
    }

    .musicSection h1 {
        grid-column: 1/4;
    }
}

.videosSection {
    display: grid;
}

.videosSection iframe {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .videosSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 2rem;
        padding: 1.5rem 0;
        grid-row-gap: 1.5rem;
        grid-template-rows: repeat(10, 1fr);
    }

    .videosSection iframe {
        grid-column: 2/8;
        grid-row: 2/10;
    }

    .videosSection h1 {
        grid-column: 2/8;
    }
}

@media screen and (max-width: 767px) {
    .videosSection {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 2rem;
        padding: 1.5rem;
        grid-row-gap: 1.5rem;
        grid-template-rows: repeat(6, 1fr);
    }

    .videosSection iframe {
        grid-column: 1/4;
        grid-row: 2/6;
    }

    .videosSection h1 {
        grid-column: 1/4;
    }
}

.contactSection {
    display: grid;
}

@media screen and (min-width: 768px) {
    .contactSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 2rem;
        padding: 1.5rem 0;
        grid-row-gap: 1.5rem;
    }

    .contactSection form {
        grid-column: 2/8;
    }

    .contactSection h1 {
        grid-column: 2/8;
    }
}

@media screen and (max-width: 767px) {
    .contactSection {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 2rem;
        padding: 1.5rem;
    }

    .contactSection form {
        grid-column: 1/4;
    }

    .contactSection h1 {
        grid-column: 1/4;
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form .input {
    padding: 0.6rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border: solid #CDD5DC 2px;
    min-width: 16rem;
}

.button {
    color: #ffffff;
    background-color: #5A4EF4;
    padding: 0.6rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border: solid #5A4EF4 2px;
    min-width: 10rem;
}

.photosSection {
    display: grid;
}

.photosSection img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 150px;
    min-width: 150px;
}

@media screen and (min-width: 768px) {
    .photosSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 2rem;
        padding: 1.5rem 0;
    }

    .photosSection img:first-of-type {
        grid-column: 2/span 2;
    }

    .photosSection img:nth-child(5) {
        grid-column: 2/span 2;
    }

    .photosSection img:nth-child(8) {
        grid-column: 2/span 2;
    }

    .photosSection img {
        grid-column: span 2;
    }


    .photosSection h1 {
        grid-column: 2/8;
    }
}

@media screen and (max-width: 767px) {
    .photosSection {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        padding: 1.5rem;
    }

    .photosSection h1 {
        grid-column: 1/4;
    }

    .photosSection img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        grid-column: span 2;
        min-width: 150px;
        min-height: 150px;
    }
}

.buttonSecondary {
    color: #5A4EF4;
    margin-left: 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    align-items: center;
    font-weight: 700;
}