@import "variables/variables";
@import "components/header.scss";
@import "components/footer.scss";

*,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $font;
}

h2 {
    font-size: $font_size_medium;
}

p {
    font-size: $font_size_base;
}

li {
    font-size: $font_size_base;
    padding: $xs 0;
}

h1 {
    font-size: $font_size_big;
}

main {
    min-height: 85vh;
}

a {
    text-decoration: none;
}

//home

.bioSection {
    display: grid;
}

.bioSection img {
    border-radius: $m;
    width: 200px;
    transition: ease 0.3s;
}

.bioSection img:hover{
    transform: scale(1.05);
}

.bioSection p {
    margin: $l 0;
}

@media screen and (min-width: $mobile_screen) {
    .bioSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 $xl;
        padding: $l 0;
        align-items: center;
    }

    .bioWrapper {
        grid-column: 3/8;
    }

    .bioSection img {
        grid-column: 2;
        border-radius: $m;
    }
}

@media screen and (max-width: $desktop_screen) {
    .bioSection {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 $m;
        padding: $l;
    }

    .bioWrapper {
        grid-column: 1/4;
        margin-top: $l;
    }

    .bioSection img {
        grid-column: 1;
    }
}

.infoSection {
    display: grid;
}

@media screen and (min-width: $desktop_screen) {
    .infoSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 $l;
    }

    .infoSection .songsSection {
        grid-column: 2/4;
    }

    .platformsSection {
        grid-column: 7;
    }
}

@media screen and (max-width: $mobile_screen) {
    .infoSection {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 $m;
        padding: 0 $l;
        grid-row-gap: $l;
    }

    .songsSection {
        grid-column: 1/3;
    }

    .platformsSection {
        grid-column: 1/3;
    }
}

.eventsSection {
    display: grid;
}

.infoSection .platformsSection img {
    height: $xl;
    margin: $xs $xs $xs 0;
    transition: ease 0.3s;
}

.infoSection .platformsSection img:hover {
    transform: translateY(-5px);
}

@media screen and (min-width: $desktop_screen) {
    .eventsSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 $m;
        padding-top: $xl;
    }

    .eventsSection ul {
        grid-column: 2/8;
    }
}

@media screen and (max-width: $mobile_screen) {
    .eventsSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 $m;
        padding: $l;
    }

    .eventsSection ul {
        grid-column: 1/4;
    }
}

.eventsSection ul div {
    margin: $l 0;
}

//music

.musicSection {
    display: grid;
}

@media screen and (min-width: $desktop_screen) {
    .musicSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 $xl;
        padding: $l 0;
        grid-row-gap: $l;
    }

    .musicSection iframe {
        grid-column: 2/8;
    }

    .musicSection h1 {
        grid-column: 2/8;
    }
}

@media screen and (max-width: $mobile_screen) {
    .musicSection {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 $xl;
        padding: $l;
        grid-row-gap: $l;
    }

    .musicSection iframe {
        grid-column: 1/4;
    }

    .musicSection h1 {
        grid-column: 1/4;
    }
}

//video

.videosSection {
    display: grid;
}

.videosSection iframe {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: $desktop_screen) {
    .videosSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 $xl;
        padding: $l 0;
        grid-row-gap: $l;
        grid-template-rows: repeat(10, 1fr);
    }

    .videosSection iframe {
        grid-column: 2/8;
        grid-row: 2/10;
    }

    .videosSection h1 {
        grid-column: 2/8;
    }
}

@media screen and (max-width: $mobile_screen) {
    .videosSection {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 $xl;
        padding: $l;
        grid-row-gap: $l;
        grid-template-rows: repeat(6, 1fr);
    }

    .videosSection iframe {
        grid-column: 1/4;
        grid-row: 2/6;
    }

    .videosSection h1 {
        grid-column: 1/4;
    }
}

//contact

.contactSection {
    display: grid;
}

@media screen and (min-width: $desktop_screen) {
    .contactSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0 $xl;
        padding: $l 0;
        grid-row-gap: $l;
    }

    .contactSection form {
        grid-column: 2/8;
    }

    .contactSection h1 {
        grid-column: 2/8;
    }
}

@media screen and (max-width: $mobile_screen) {
    .contactSection {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 $xl;
        padding: $l;
    }

    .contactSection form {
        grid-column: 1/4;
    }

    .contactSection h1 {
        grid-column: 1/4;
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form .input {
    padding: $xs;
    margin: $m;
    border-radius: $xs;
    border: solid $gray $border;
    min-width: 16rem;
}

.button {
    color: $white;
    background-color: $blue;
    padding: $xs;
    margin: $m;
    border-radius: $xs;
    border: solid $blue $border;
    min-width: 10rem;
    cursor: pointer;
    transition: ease 0.3s;
}

.button:hover {
    background-color: $purple;
    border: solid $purple $border;
}

//photos

.photosSection {
    display: grid;
}

.photosSection img {
    border-radius: $m;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 150px;
    min-width: 150px;
    transition: ease 0.3s; 
}
.photosSection img:hover {
    transform: scale(1.05);
}

@media screen and (min-width: $mobile_screen) {
    .photosSection {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: $xl;
        padding: $l 0;
    }

    .photosSection img:first-of-type {
        grid-column: 2 / span 2;
    }

    .photosSection img:nth-child(5) {
        grid-column: 2 / span 2;
    }

    .photosSection img:nth-child(8) {
        grid-column: 2 / span 2;
    }

    .photosSection img {
        grid-column: span 2;
    }

    .photosSection h1 {
        grid-column: 2/8;
    }
}

@media screen and (max-width: $desktop_screen) {
    .photosSection {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $xl;
        padding: $l;
    }

    .photosSection h1 {
        grid-column: 1/4;
    }

    .photosSection img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        grid-column: span 2;
        min-width: 150px;
        min-height: 150px;
    }
}

.buttonSecondary {
    color: $blue;
    margin-left: $m;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease 0.3s;
}

.buttonSecondary:hover {
    color: $purple;
}

.wrapper {
    display: flex;
    align-items: center;
    font-weight: $font_weight_bold;
}
