$font: Arial, Helvetica, sans-serif;
$border: 2px;

//colors
$white: #ffffff;
$purple: #B07CDD;
$sky_blue: #8BBBE9;
$blue: #5A4EF4;
$gray: #CDD5DC;

//fonts
$font_size_base: 1rem;
$font_size_medium: 2rem;
$font_size_big: 3rem;
$font_weight_bold: 700;

//screens
$desktop_screen: 768px;
$mobile_screen: 767px;

//spacings
$xs: 0.5rem;
$s: 0.8rem;
$m: 1rem;
$l: 1.5rem;
$xl: 2rem;

